{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<br><br>
<p><strong><u>Welcome to ContEx, a newly created Hypotheses Engineering Decision Support System (HE-DSS).</u></strong></p>
<br><br>
<p>The goal of the HE-DSS is to facilitate the creation and execution of continuous experimentation (CE) in the context of 
software prototype development through a low-code approach. <br>
Through the creation and adaptation of so-called IFML (a UI and interaction modeling language) model the HE-DSS supports the creation of 
experiments to test hypotheses through user interaction feedback.<br>
This way, small companies and startups should be enabled to speed up the product development process and reduce the 
economic risk of software that does not meet the customer’s demands. 
</p>
<br><br>
{% endblock %}